.App {
  text-align: center;
}

h4 {
  font-size: 14px;
}

.comments {
  width: 300px;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0,0,0,.1), 0 5px 15px rgba(0,0,0,.07);
  border-radius: 6px;
  position: fixed;
  bottom: 1rem;
  right: 1rem;

  h3 {
    margin: 0;
  }

  .commentInnerWrapper {
    max-height: 30vh;
    overflow-y: scroll;
  }

  .showResolvedCommentsToggle {
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
    color: #006de4;
    margin-bottom: 1rem;
    display: inline-block;
  }
}

.commentDivider {
  width: calc(100% + 2rem);
  margin-left: -1rem;
  border-top: 1px solid #DDD;
  border-bottom: none;
  border-left: none;
  border-right: none;
  padding-bottom: 1rem;
}

.commentForm {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  margin: 1rem 0 2rem 0;
  box-sizing: border-box;

  textarea, input {
    width: 100%;
    margin-bottom: .75rem;
    border: 1px solid #DDD;
    border-radius: 6px;
    font-family: inherit;
    padding: .5rem;
    box-sizing: border-box;
  }

  button.commentSubmitButton {
    background-color: #006de4;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 6px;
    padding: .5rem 1rem;
    cursor: pointer;

    &[disabled] {
      opacity: .5;
      cursor: not-allowed;
    }
  }
}

.comment {

  + .comment {
    margin-top: 1.5rem;
  }

  .commentHeader {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h4 {
      font-size: 12px;
      margin: 0;
    }

    .date {
      color: #777;
    }

  }
  .commentBody {
    font-size: 14px;
    color: #555;
    margin-top: -.25rem;
    line-height: 1.5em;
  }

  button.commentResolveButton {
    font-size: 11px;
    background-image:
    linear-gradient(180deg, #FFFFFF 30%, #EBEBEB 100%);
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    padding: .25rem .5rem;
    transform: translateY(-.25rem);
    cursor: pointer;
  }
}
